---

---


<nav class="bg-black border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <img src="./favicon.svg" alt="" class="h-8 mr-3">
        <!-- <span class="text-black dark:text-white self-center text-2xl font-semibold whitespace-nowrap"> 
            Gonzalo Izaguirre
        </span> -->
    </div>

</nav>